[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/panda-hackerman/imgui.git
[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/panda-hackerman/implot
[submodule "vendor/webgpu"]
	path = vendor/webgpu
	url = https://github.com/eliemichel/WebGPU-distribution.git
	shallow = true
[submodule "vendor/glfw3webgpu"]
	path = vendor/glfw3webgpu
	url = https://github.com/eliemichel/glfw3webgpu.git
[submodule "vendor/gtest"]
	path = vendor/gtest
	url = https://github.com/google/googletest.git
